@import 'variable';
@import 'fonts';

body{
    min-height: 100vh;
    background-color: lightgray;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px 0px;
    position: relative;

    .header__nav{
        @media screen and (max-width: 480px){
            position: absolute;
            background-color: white;
            top: 99%;
            width: 100%;
        }

        .header__nav__list{
            display: flex;
            gap: 15px;
            
    
            @media screen and (max-width: 480px){
                display: none;
                flex-direction: column;
                align-items: center;
            }
        }
        
        
    }

    .burger{
        display: none;

        @media screen and (max-width: 480px){
            display: inline-block;
        }
    }

    .exit{
        display: none;
    }

    
}